<section ng-controller="InterviewsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Interview</h1>
  </div>
  <div class="col-md-12">
    <form name="interviewForm" class="form-horizontal" ng-submit="update(interviewForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="interview.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="interviewForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Interview title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Question</label>
          <textarea name="question" ng-model="question" id="question" class="form-control" cols="30" rows="10" placeholder="Question"></textarea>
        </div>
        <div class="form-group">
          <label for="answer">Correct Answer</label>
          <textarea name="answer" ng-model="answer" id="answer" class="form-control" cols="30" rows="10" placeholder="Correct Answer"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
