<section ng-controller="InterviewsController" ng-init="find()">
  <div class="page-header">
    <h1>Interviews</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="interview in interviews" ui-sref="interview.view({interviewId: interview._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="interview.created | date:'mediumDate'"></span>
        by
        <span ng-if="interview.user" ng-bind="interview.user.displayName"></span>
        <span ng-if="!interview.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="interview.title"></h4>
      <p class="list-group-item-text" ng-bind="interview.question"></p>
      <p class="list-group-item-text" ng-bind="interview.answer"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="interviews.$resolved && !interviews.length">
    No interviews yet, why don't you <a ui-sref="interviews.create">create one</a>?
  </div>
</section>
